
form{
    *{
    font-size: 13px;
    }
   
}
.toolbar-btn{
    width: 33%;
    font-size: 12px;
}
ion-title{
    padding: 15px 15px 10px;
}
.star-symbol{
    color: red;
}
ion-item{
    padding: 0 15px 0 0px;
}
ion-label{
    padding: 10px 0 0 20px;
}
    
