<ion-row class="my-3">
  <ion-col>
    <p>STATUS</p>
  </ion-col>
  <ion-col class="text-end">
    <!-- <span>ALL</span><mat-slide-toggle >Unique</mat-slide-toggle> -->
  </ion-col>
</ion-row>
<ion-list lines="full">
  <ion-item>
    <ion-label>Avg. Time</ion-label>
    <ion-label  class="text-end"> 0m 30s</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Avg. Time</ion-label>
    <ion-label  class="text-end"> 0m 30s</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Avg. Time</ion-label>
    <ion-label  class="text-end"> 0m 30s</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Avg. Time</ion-label>
    <ion-label  class="text-end"> 0m 30s</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Avg. Time</ion-label>
    <ion-label  class="text-end"> 0m 30s</ion-label>
  </ion-item>
</ion-list>