<ion-header>
  <ion-toolbar  color="primary">
    <div class="box">
      <ion-row class="justify-content-end">
        <ion-col size="4">
              <!-- <button class="button">Switch to Admin</button> -->
        </ion-col>
        <ion-col size="1">
          <!-- <ion-icon class="pt-2 pr-2" name="people"></ion-icon> -->
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col>
          <h6>FIRSTCLASS MENTOR</h6>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col size="12" >
          <p >Hi Welcome, {{userName | uppercase}}</p>
        </ion-col>
        
        <ion-col class="d-flex align-items-center py-0" ><p>Role <strong class="roles">{{user_role}}</strong></p></ion-col>
        <ion-col size="2" class="text-end">
          <ion-icon (click)="openStartBreak()" name="cafe" style="font-size: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="2" class="text-center">
          <ion-icon (click)="openCheckout()" name="power" style="font-size: 20px;"></ion-icon>
        </ion-col>
       </ion-row>
       <!-- <ion-row>
        <ion-col>
          <small><ion-icon name="sync"></ion-icon> Default Process</small>
        </ion-col>
       </ion-row> -->
    </div>
  </ion-toolbar>
  
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class="d-flex justify-content-center align-items-center">
    <ion-col size="12" class="text-center p-2"></ion-col>
    <ion-col size="12" class="text-center p-3">
      <ng-container >
        No data found.
      </ng-container>
    </ion-col>
  <ion-col size="12" class="nodata-filter">
   
    <app-nodata></app-nodata>
  </ion-col>
  </ion-row>
  
</ion-content>
