p{
    font-size: 12px;
}
small{
    font-size: 8px;
}
.circle{
    height: fit-content;
    padding: 5px;
    border-radius: 50%;
    border: solid 1px black;
    margin: 5px;
}
.l-icon{
    font-size: 25px;
}
.s-icon{
    font-size: 16px;
}
