p{
    font-size: 12px;
}
small{
    font-size: 8px;
}
.circle{
    height: fit-content;
    padding: 5px;
    border-radius: 50%;
    border: solid 1px black;
    margin: 5px;
}
.l-icon{
    font-size: 20px;
}
.s-icon{
    font-size: 16px;
}
.f-s{
 font-size: 11px !important;
}
.align-self{
 align-items: flex-end;
}
.main-container{
    box-shadow: none;
    background: #eeeeee;
}
.inner-container{
   background: white;
   display: flex; 
   align-items: center;
   padding: 8px;
   border-radius: 5px;
}

.c-f{
    font-size: 10px;
}
.c-ts{
    font-size: 8px;
}
.g-2{
    border: 1px solid #ebebeb;
    border-radius: 4px;
}