<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="goBack()" slot="start">
      <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-row>
      <ion-col >
        <h6 class="mt-2">Customer Details</h6>
      </ion-col>
    </ion-row>  
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
      <ion-col>
        <ion-card class="main-container">
          <ion-card-content class="p-2">
           <ion-row class="inner-container">
            <ion-col size="8">
              <ion-row class="mt-1">
                 <p class="f-s"><b>Ajay Kumar</b></p>
              </ion-row>
              <ion-row class="mt-1">
                 <p class="f-s"><b>+91-1234456677</b></p>
              </ion-row>
              <ion-row class="mt-1">
                <p class="f-s">Email: ajay</p>
              </ion-row>
              <ion-row class="mt-1">
                <p class="f-s">Place: hhhh</p>
              </ion-row>
              
              <ion-row class="mt-1">
                <p class="f-s">Reference Name:12345</p>
              </ion-row>
            
              <ion-row class="mt-1">
                <p class="f-s">Reference phone:12345</p>
              </ion-row>
             
            </ion-col>
            <ion-col class="align-self">
              <ion-row class="mt-1 align-items-center">
                <ion-col><ion-icon style="color: grey;" class="s-icon" name="mail-outline"></ion-icon></ion-col>
                <ion-col><ion-icon style="color: grey;font-size: 15px;" class="l-icon" name="call-outline"></ion-icon></ion-col>
              </ion-row>
              <ion-row class="mt-1 align-items-center">
                <ion-col><ion-icon style="color: #f17e33;" class="s-icon" name="chatbox"></ion-icon></ion-col>
                <ion-col><ion-icon style="color: #f17e33;" class="l-icon" name="add-circle-outline" (click)="openAddLead()"></ion-icon></ion-col>
              </ion-row>
              <ion-row class="mt-1 align-items-center">
                <ion-col><ion-icon style="color: green;" class="s-icon" name="logo-whatsapp"></ion-icon></ion-col>
                <ion-col><ion-icon style="color: red;" class="l-icon" name="repeat-outline" (click)="recurringFollowup()"></ion-icon></ion-col>
              </ion-row>

            </ion-col>
           </ion-row>
           <ion-row>
            <ion-col>
              <ion-row class="mt-1">
                <p class="f-s">Address</p>
              </ion-row >
              <ion-row class="mt-1">
                <p class="f-s">abc, nn nager,bengaluru</p>
              </ion-row>
            </ion-col>
           </ion-row>
         
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <div class="ps-2 px-0">
      <ion-row class="justify-content-between ps-0 px-2 m-1">
        <ion-col>
          <p class="f-s">HISTORY</p>
        </ion-col>
        <ion-col class="text-end">
          <select class="w-50 g-2">
            <option value="">All</option>
          </select>
        </ion-col>
      </ion-row>
      
      <ion-row class="align-items-center">
        <ion-col size="2">
            <p class="c-ts"><b>06:01 PM, 2 Oct</b></p>
        </ion-col>
        <ion-col size="1">
          <p class="c-f"><ion-icon name="radio-button-on-outline"></ion-icon></p>
        </ion-col>
        <ion-col size="9">
          <ion-card>
            <ion-card-content class="p-1" >
              <ion-row>
                <ion-col>
                <p class="c-f"><b>Created By Ajay Kumar</b></p>
                </ion-col>
                <ion-col class="text-end">
                  <p class="c-f"><b>Hot Followup</b></p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="c-f">Notes</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="c-f">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center">
        <ion-col size="2">
            <p class="c-ts"><b>06:01 PM, 2 Oct</b></p>
        </ion-col>
        <ion-col size="1">
          <p class="c-f"><ion-icon name="radio-button-on-outline"></ion-icon></p>
        </ion-col>
        <ion-col size="9">
          <ion-card>
            <ion-card-content class="p-1" >
              <ion-row>
                <ion-col>
                  <p class="c-f"><b>Created By Ajay Kumar</b></p>
                </ion-col>
                <ion-col class="text-end">
                  <p class="c-f"><b>Hot Followup</b></p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="c-f">Notes</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="c-f">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center pb-5">
        <ion-col size="2">
            <p class="c-ts"><b>06:01 PM, 2 Oct</b></p>
        </ion-col>
        <ion-col size="1">
          <p class="c-f"><ion-icon name="radio-button-on-outline"></ion-icon></p>
        </ion-col>
        <ion-col size="9">
          <ion-card>
            <ion-card-content class="p-1" >
              <ion-row>
                <ion-col>
                  <p class="c-f"><b>Created By Ajay Kumar</b></p>
                </ion-col>
                <ion-col class="text-end">
                  <p class="c-f"><b>Hot Followup</b></p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="c-f">Notes</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="c-f">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
   
</ion-content>