<ion-row>
  <p>OUTBOUND</p>
</ion-row>
<ion-row scrollX="true" class="scroll-items" >
<ion-col  class="pad" >
  <button   class="activeColor" >
    <ion-row class="align" ><ion-icon name="call"></ion-icon></ion-row>
    <ion-row class="align" >229</ion-row>
    <ion-row class="align"><small >RECEIVED</small></ion-row>
  </button>
</ion-col>
<ion-col  class="pad" >
  <button   class="activeColor" >
    <ion-row class="align" ><ion-icon name="call"></ion-icon></ion-row>
    <ion-row class="align" >229</ion-row>
    <ion-row class="align"><small >RECEIVED</small></ion-row>
  </button>
</ion-col>
<ion-col  class="pad" >
  <button   class="activeColor" >
    <ion-row class="align" ><ion-icon name="call"></ion-icon></ion-row>
    <ion-row class="align" >229</ion-row>
    <ion-row class="align"><small >RECEIVED</small></ion-row>
  </button>
</ion-col>
<ion-col  class="pad" >
  <button   class="activeColor" >
    <ion-row class="align" ><ion-icon name="call"></ion-icon></ion-row>
    <ion-row class="align" >229</ion-row>
    <ion-row class="align"><small >RECEIVED</small></ion-row>
  </button>
</ion-col>
</ion-row>
