<ion-content >
  <ion-row class="bg">
   <ion-col>
     <ion-row>
       <ion-col style="text-align: end;">
        <ion-icon (click)="close()" name="close-circle-outline" style="color: black;"></ion-icon>
       </ion-col>
     </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-icon style="background-color:#F4AF3E;font-size: 30px;color: white;border-radius: 50%;padding: 10px;" name="power-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <p>Are you sure want to Checkout?</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8" >
      <ion-button class="btn" (click)="logout()" color="secondary" >YES</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
   </ion-col>  
  </ion-row>
</ion-content>
