
ion-card{
    box-shadow: none;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 104px;
        width: 105px;
        text-align: center;
    }
}