<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row >
    <ion-col size="6" >
      <button (click)="goTo('follow-ups')"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #69F0AE;" name="alarm"></ion-icon></ion-row>
        <ion-row class="align"><small >Follow-ups</small></ion-row>
      </button>
    </ion-col>
    <ion-col size="6" >
      <button routerLink="./call-log"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #89C242;" name="calendar"></ion-icon></ion-row>
        <ion-row class="align"><small >Calender</small></ion-row>
      </button>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="6" >
      <button routerLink="/inner/home/call-log/"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #2196F3;" name="call"></ion-icon></ion-row>
        <ion-row class="align"><small >Call Logs</small></ion-row>
      </button>
    </ion-col>
    <ion-col size="6" >
      <button routerLink="./call-log"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #FF4242;" name="trending-up"></ion-icon></ion-row>
        <ion-row class="align"><small >Request Reports</small></ion-row>
      </button>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="6" >
      <button routerLink="./call-log"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #FF4242;" name="clipboard"></ion-icon></ion-row>
        <ion-row class="align"><small >Advanced Reports</small></ion-row>
      </button>
    </ion-col>
    <ion-col size="6" >
      <button routerLink="./call-log"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #37AF3F;" name="logo-whatsapp"></ion-icon></ion-row>
        <ion-row class="align"><small >Whatsapp Templates</small></ion-row>
      </button>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="6" >
      <button routerLink="./call-log"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color:#FFAB3F ;" name="chatbubbles"></ion-icon></ion-row>
        <ion-row class="align"><small >SMS</small></ion-row>
      </button>
    </ion-col>
    <ion-col size="6" >
      <button routerLink="./call-log"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #1E88E5;" name="mail"></ion-icon></ion-row>
        <ion-row class="align"><small >Mail</small></ion-row>
      </button>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="6" >
      <button class="activeColor" (click)="recurringFollowupList()">
        <ion-row class="align" ><ion-icon style="color:#1E88E5 ;" name="repeat"></ion-icon></ion-row>
        <ion-row class="align"><small>Recurring Followups</small></ion-row>
      </button>
    </ion-col>
    <ion-col size="6" >
      <button routerLink="./call-log"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #FFAB3F;" name="sync"></ion-icon></ion-row>
        <ion-row class="align"><small >Rechurn Data</small></ion-row>
      </button>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="6" >
      <button routerLink="./call-log"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #FF4242;" name="people"></ion-icon></ion-row>
        <ion-row class="align"><small >Interaction</small></ion-row>
      </button>
    </ion-col>
    <ion-col size="6" >
      <button routerLink="./team-live-status"   class="activeColor " >
        <ion-row class="align" ><ion-icon style="color: #673AB7;" name="person"></ion-icon></ion-row>
        <ion-row class="align"><small >Team Live Status</small></ion-row>
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <small>Call Tracking</small>
    </ion-col>
  </ion-row>
  <ion-row class="align-items-center">
    <ion-col size="1">
      <ion-icon style="color: #FFAB3F;" name="folder"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <p>Call Tracking Path</p>
    </ion-col>
  </ion-row>
  <ion-row class="align-items-center">
    <ion-col size="1">
      <ion-icon style="color: #FFAB3F;" name="settings"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <p>Call Track Assist</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <small>Others</small>
    </ion-col>
  </ion-row>
  <ion-row class="align-items-center">
    <ion-col size="1">
      <ion-icon style="color: #FFAB3F;" name="settings"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <p>Settings</p>
    </ion-col>
  </ion-row>
  <ion-row class="align-items-center">
    <ion-col size="1">
      <ion-icon style="color: #FFAB3F;" name="key"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <p>Change Password</p>
    </ion-col>
  </ion-row>
  <ion-row class="align-items-center">
    <ion-col size="1">
      <ion-icon style="color: #FFAB3F;" name="construct"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <p>Contact Support</p>
    </ion-col>
  </ion-row>
  <ion-row class="align-items-center">
    <ion-col size="1">
      <ion-icon style="color: #FFAB3F;" name="today"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <p>Privacy Policy</p>
    </ion-col>
  </ion-row>
  <ion-row class="align-items-center pb-5">
    <ion-col size="1">
      <ion-icon style="color: #FFAB3F;" name="log-out"></ion-icon>
    </ion-col>
    <ion-col size="11">
      <p>Logout</p>
    </ion-col>
  </ion-row>
</ion-content>
