<ion-title>Add State</ion-title>

<form [formGroup]="addForm" class="px-3">
  <ion-row>
    <ion-col size="12">
      <ion-label  position="stacked">State</ion-label><b class="star-symbol">*</b>
      <ion-item>
        <ion-input appFormSpace type="text" placeholder="Enter State Name" formControlName="name" required></ion-input>
      </ion-item>
      <ion-error class="p-2" *ngIf="f['name'].touched && f['name']?.hasError('required')">
        <ion-label color="danger">State Name Is Required.</ion-label>
      </ion-error>
      <ion-error class="p-2" *ngIf="f['name']?.hasError('pattern')">
        <ion-label color="danger">Invalid State Name Format. Please Enter Characters.</ion-label>
      </ion-error>
    </ion-col>
  </ion-row>



</form>
<div class="py-4 text-center">

  <ion-button shape="round" class="toolbar-btn" fill="outline" color="secondary" (click)="close()">CANCEL</ion-button>
  <ion-button shape="round" class="toolbar-btn" color="secondary" (click)="submit()">ADD</ion-button>

</div>