<ion-row class="d-flex justify-content-center align-items-center px-2">
  <ion-col>
    <a><ion-icon name="search" class="search-icon" (click)="enableSearchOption()"></ion-icon></a>
  </ion-col>
  <ion-col   class="position-rel">
    <ion-badge color="danger" class="badge-1">{{ selectedStatus?.length || '0' }}</ion-badge>
    <ion-icon name="options" id="open-custom-dialog" (click)="openFilter()"></ion-icon>
  </ion-col>
  <ion-col  *ngIf="user_role !== 'counsellor'" class="position-rel">
    <ion-badge color="danger" class="badge-1">{{ counsellor_ids?.length || '0' }}</ion-badge>
    <ion-icon name="people" (click)="openModal()" style="font-size: 19px;"></ion-icon>
  </ion-col>
</ion-row>




