

.arrow-back{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}
p{  
    margin: 10px 0;
    font-size: 10px;
    text-align: center;
    padding-right: 5px;
}

ion-card{
    ion-text{
        font-size: 12px;
        color:#000000ba;
        font-weight: 500;
    }
    ion-icon{
        margin-right: 5px;
    }
        
        padding: 0;
        ion-label{
            margin: 0;
            font-size: 10px;
            color:#000000ba;
            vertical-align: text-top;
        }
        hr {
            margin: 0.5rem 0;
        }
    
}
ion-content{
    --padding-start: 8px;
    --padding-end: 8px;
}
.set-border{
    border-top: 1px solid #f3f3f3;
    padding-top: 5px;
    margin-top: 5px;
}