<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <!-- Your menu items -->
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]">
              <ion-icon [name]="p.icon" slot="start"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
     
    </ion-menu>
    
      <ion-content id="main-content">
        <ion-router-outlet></ion-router-outlet>
        <!-- <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button *ngFor="let page of appPages" [tab]="page.title" routerLinkActive="active" [routerLink]="[page.url]" >
              <ion-icon [name]="page.icon" ></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
        <ion-tabs>   -->
         
         <ion-tabs>
          <ion-fab vertical="bottom" horizontal="center" translucent="true">
            <ion-fab-button (click)="openAddLead()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          
          <ion-tab-bar slot="bottom" class="ion-no-border">
            <ion-tab-button  [routerLink]="['home']" routerLinkActive="active"  >
              <ion-icon name="home"></ion-icon>
              <ion-label class="custom-tabs">Home</ion-label>
            </ion-tab-button>
        
            <ion-tab-button  class="comments" [routerLink]="['allocations']" routerLinkActive="active">
              <ion-icon name="reader"></ion-icon>
              <ion-label class="custom-tabs set-margin">Lead list</ion-label>
            </ion-tab-button>
        
            <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>
        
            <ion-tab-button  class="notifs" [routerLink]="['customers']" routerLinkActive="active">
              <ion-icon name="people"></ion-icon>
              <ion-label class="custom-tabs">Customers</ion-label>
            </ion-tab-button>
        
            <ion-tab-button  [routerLink]="['menu']" routerLinkActive="active">
              <ion-icon name="menu"></ion-icon>
              <ion-label class="custom-tabs">Menu</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-content>

  </ion-split-pane>
 
</ion-app>

