<ion-content >
  <ion-row>
    <ion-col style="text-align: end;">
     <ion-icon (click)="close()" name="close-circle-outline" style="color: black;"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="bg">
   <ion-col>
    <ion-row>
      <ion-col class="d-ic-flex" style="text-align: center;border-right: 1px solid #c8c8c8;">
        <ion-fab (click)="break('break')">
          <ion-fab-button>
            <ion-icon  name="cafe"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <h6 class="title-class">On Break</h6>
      </ion-col>
    </ion-row>
  
   
   </ion-col> 
   <ion-col>
   
    <ion-row>
      <ion-col class="d-ic-flex" style="text-align: center;">
        <ion-fab (click)="break('meeting')" color="secondary">
          <ion-fab-button color="tertiary">
            <!-- <ion-icon  name="cafe"></ion-icon> -->
            <img src="assets/images/meeting-2.svg" height="35px"/>
          </ion-fab-button>
        </ion-fab>
        <h6 class="title-class">In Meeting</h6>
      
       
      </ion-col>
    </ion-row>
  </ion-col>  
  </ion-row>
</ion-content>
