
      <ion-list lines="full">
        <ion-item>
          <ion-label>Avg. Time</ion-label>
          <ion-label  class="text-end"> 0m 30s</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Avg. Time</ion-label>
          <ion-label  class="text-end"> 0m 30s</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Avg. Time</ion-label>
          <ion-label  class="text-end"> 0m 30s</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Avg. Time</ion-label>
          <ion-label  class="text-end"> 0m 30s</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Avg. Time</ion-label>
          <ion-label  class="text-end"> 0m 30s</ion-label>
        </ion-item>
      </ion-list>
    
  