
mat-form-field{
    margin: 15px 0;
    width: 100%;
}
.mat-mdc-form-field-flex{
  width: 100%!important;
  height: 40px;
  font-size:14px;
  width: 100%;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 9px !important;
}
.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  top:50%;
  font-size:14px;
}
app-add-lead,app-edit-lead {
.mat-mdc-form-field-flex{
  width: 100%!important;
  height: 48px;
  font-size:14px;
}
mat-form-field{
  margin: 0 !important;
  width: 100% !important;
}
}
.call-log .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 40px !important;
   

}